<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Index</title>
  </head>
  <body>
    <nav>
      <a href="/journal/new">
       <button>Add Journal</button></a>
    </nav>
    <h1>Journal list</h1>
    <ul>
      <% journal.forEach(journal =>{ %>
      <li>
        <a href="/journal/<%=journal._id%>">
            <%=journal.title %></a>
            <form action="/journal/<%= journal._id %>?_method=DELETE" method="POST">
              <button type="submit">Delete</button>
            </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
